RewriteEngine on
RewriteRule ^/quemsomos$ /about.html [NC]

Redirect 301 /quemsomos https://raiodesentupidora.com.br/about.html
Redirect 301 /contato https://raiodesentupidora.com.br/contact.html
Redirect 301 /artigos https://raiodesentupidora.com.br/cases.html
Redirect 301 /desentupimento-guarulhos https://raiodesentupidora.com.br
Redirect 301 /servicos https://raiodesentupidora.com.br/practice-area.html
Redirect 301 /desentupidora-24-horas-zona-leste https://raiodesentupidora.com.br
Redirect 301 /desentupidora-de-esgoto-no-jacana https://raiodesentupidora.com.br
Redirect 301 /desentupidora-em-sao-paulo https://raiodesentupidora.com.br
Redirect 301 /limpeza-de-caixa-d-agua-residencial https://raiodesentupidora.com.br

Redirect 301 /desentupidora-na-zona-norte https://raiodesentupidora.com.br/desentupidora-na-zona-norte.html
Redirect 301 /desentupidora-na-zona-leste https://raiodesentupidora.com.br/desentupidora-na-zona-leste.html
Redirect 301 /desentupidora-na-zona-oeste https://raiodesentupidora.com.br/desentupidora-na-zona-oeste.html
Redirect 301 /desentupidora-na-zona-sul https://raiodesentupidora.com.br/desentupidora-na-zona-sul.html
Redirect 301 /desentupidora-em-atibaia https://raiodesentupidora.com.br/desentupidora-em-atibaia.html
Redirect 301 /desentupidora-em-aruja https://raiodesentupidora.com.br/desentupidora-em-aruja.html
Redirect 301 /desentupidora-em-guarulhos https://raiodesentupidora.com.br/desentupidora-em-guarulhos.html
Redirect 301 /desentupidora-na-lapa https://raiodesentupidora.com.br/desentupidora-na-lapa.html
Redirect 301 /desentupidora-em-barueri https://raiodesentupidora.com.br/desentupidora-em-barueri.html
Redirect 301 /desentupidora-no-abc https://raiodesentupidora.com.br/desentupidora-no-abc.html
Redirect 301 /grande-sp https://raiodesentupidora.com.br/grande-sp.html
Redirect 301 /desentupidora-na-grande-sao-paulo https://raiodesentupidora.com.br/grande-sp.html

Redirect 301 /desentupidora-24-Horas https://raiodesentupidora.com.br/desentupidora-24-Horas.html 
Redirect 301 /desentupidora-24h https://raiodesentupidora.com.br/desentupidora-24h.html 
Redirect 301 /Desentupidora-aricanduva https://raiodesentupidora.com.br/Desentupidora-aricanduva.html 
Redirect 301 /Desentupidora-artur-alvim https://raiodesentupidora.com.br/Desentupidora-artur-alvim.html 
Redirect 301 /desentupidora-campo-grande https://raiodesentupidora.com.br/desentupidora-campo-grande.html 
Redirect 301 /Desentupidora-cangaiba https://raiodesentupidora.com.br/Desentupidora-cangaiba.html 
Redirect 301 /desentupidora-de-esgoto https://raiodesentupidora.com.br/desentupidora-de-esgoto.html 
Redirect 301 /desentupidora-de-pia https://raiodesentupidora.com.br/desentupidora-de-pia.html 
Redirect 301 /desentupidora-de-ralos https://raiodesentupidora.com.br/desentupidora-de-ralos.html 
Redirect 301 /desentupidora-de-vaso-sanitario https://raiodesentupidora.com.br/desentupidora-de-vaso-sanitario.html 
Redirect 301 /desentupidora-em-aruja https://raiodesentupidora.com.br/desentupidora-em-aruja.html 
Redirect 301 /desentupidora-em-atibaia https://raiodesentupidora.com.br/desentupidora-em-atibaia.html 
Redirect 301 /desentupidora-em-barueri https://raiodesentupidora.com.br/desentupidora-em-barueri.html 
Redirect 301 /desentupidora-em-caieiras https://raiodesentupidora.com.br/desentupidora-em-caieiras.html 
Redirect 301 /desentupidora-em-campinas https://raiodesentupidora.com.br/desentupidora-em-campinas.html 
Redirect 301 /desentupidora-em-carapicuíba https://raiodesentupidora.com.br/desentupidora-em-carapicuíba.html 
Redirect 301 /desentupidora-em-cotia https://raiodesentupidora.com.br/desentupidora-em-cotia.html 
Redirect 301 /desentupidora-em-cubatao https://raiodesentupidora.com.br/desentupidora-em-cubatao.html 
Redirect 301 /desentupidora-em-diadema https://raiodesentupidora.com.br/desentupidora-em-diadema.html 
Redirect 301 /Desentupidora-em-ermelino-matarazzo https://raiodesentupidora.com.br/Desentupidora-em-ermelino-matarazzo.html 
Redirect 301 /desentupidora-em-guararema https://raiodesentupidora.com.br/desentupidora-em-guararema.html 
Redirect 301 /desentupidora-em-guarulhos https://raiodesentupidora.com.br/desentupidora-em-guarulhos.html 
Redirect 301 /desentupidora-em-hortolandia https://raiodesentupidora.com.br/desentupidora-em-hortolandia.html 
Redirect 301 /desentupidora-em-indaiatuba https://raiodesentupidora.com.br/desentupidora-em-indaiatuba.html 
Redirect 301 /desentupidora-em-itanhaem https://raiodesentupidora.com.br/desentupidora-em-itanhaem.html 
Redirect 301 /desentupidora-em-itapevi https://raiodesentupidora.com.br/desentupidora-em-itapevi.html 
Redirect 301 /desentupidora-em-itaquaquecetuba https://raiodesentupidora.com.br/desentupidora-em-itaquaquecetuba.html 
Redirect 301 /Desentupidora-em-itaquera https://raiodesentupidora.com.br/Desentupidora-em-itaquera.html 
Redirect 301 /desentupidora-em-itatiba https://raiodesentupidora.com.br/desentupidora-em-itatiba.html 
Redirect 301 /desentupidora-em-jacarei https://raiodesentupidora.com.br/desentupidora-em-jacarei.html 
Redirect 301 /desentupidora-em-jandira https://raiodesentupidora.com.br/desentupidora-em-jandira.html 
Redirect 301 /desentupidora-em-jundiaí https://raiodesentupidora.com.br/desentupidora-em-jundiaí.html 
Redirect 301 /desentupidora-em-maua https://raiodesentupidora.com.br/desentupidora-em-maua.html 
Redirect 301 /desentupidora-em-moema https://raiodesentupidora.com.br/desentupidora-em-moema.html 
Redirect 301 /desentupidora-em-mogi-das-cruzes https://raiodesentupidora.com.br/desentupidora-em-mogi-das-cruzes.html 
Redirect 301 /desentupidora-em-mongagua https://raiodesentupidora.com.br/desentupidora-em-mongagua.html 
Redirect 301 /desentupidora-em-Osasco https://raiodesentupidora.com.br/desentupidora-em-Osasco.html 
Redirect 301 /desentupidora-em-perdizes https://raiodesentupidora.com.br/desentupidora-em-perdizes.html 
Redirect 301 /desentupidora-em-peruíbe https://raiodesentupidora.com.br/desentupidora-em-peruíbe.html 
Redirect 301 /desentupidora-em-pinheiros https://raiodesentupidora.com.br/desentupidora-em-pinheiros.html 
Redirect 301 /desentupidora-em-pirituba https://raiodesentupidora.com.br/desentupidora-em-pirituba.html 
Redirect 301 /desentupidora-em-praia-grande https://raiodesentupidora.com.br/desentupidora-em-praia-grande.html 
Redirect 301 /desentupidora-em-ribeirao-pires https://raiodesentupidora.com.br/desentupidora-em-ribeirao-pires.html 
Redirect 301 /desentupidora-em-santa-barbara-do-oeste https://raiodesentupidora.com.br/desentupidora-em-santa-barbara-do-oeste.html 
Redirect 301 /desentupidora-em-santana https://raiodesentupidora.com.br/desentupidora-em-santana.html 
Redirect 301 /desentupidora-em-santo-amaro https://raiodesentupidora.com.br/desentupidora-em-santo-amaro.html 
Redirect 301 /desentupidora-em-santo-andre https://raiodesentupidora.com.br/desentupidora-em-santo-andre.html 
Redirect 301 /desentupidora-em-santos https://raiodesentupidora.com.br/desentupidora-em-santos.html 
Redirect 301 /desentupidora-em-sao-bernardo https://raiodesentupidora.com.br/desentupidora-em-sao-bernardo.html 
Redirect 301 /desentupidora-em-sao-caetano https://raiodesentupidora.com.br/desentupidora-em-sao-caetano.html 
Redirect 301 /desentupidora-em-sao-jose-dos-campos https://raiodesentupidora.com.br/desentupidora-em-sao-jose-dos-campos.html 
Redirect 301 /desentupidora-em-sao-paulo https://raiodesentupidora.com.br/desentupidora-em-sao-paulo.html 
Redirect 301 /desentupidora-em-sao-vicente https://raiodesentupidora.com.br/desentupidora-em-sao-vicente.html 
Redirect 301 /desentupidora-em-sumare https://raiodesentupidora.com.br/desentupidora-em-sumare.html 
Redirect 301 /desentupidora-em-suzano-sp https://raiodesentupidora.com.br/desentupidora-em-suzano-sp.html 
Redirect 301 /Desentupidora-em-são-miguel https://raiodesentupidora.com.br/Desentupidora-em-são-miguel.html 
Redirect 301 /desentupidora-em-taboao-da-serra https://raiodesentupidora.com.br/desentupidora-em-taboao-da-serra.html 
Redirect 301 /desentupidora-em-taubate https://raiodesentupidora.com.br/desentupidora-em-taubate.html 
Redirect 301 /desentupidora-em-valinhos https://raiodesentupidora.com.br/desentupidora-em-valinhos.html 
Redirect 301 /desentupidora-ibirapuera https://raiodesentupidora.com.br/desentupidora-ibirapuera.html 
Redirect 301 /Desentupidora-na-agua-Rasa https://raiodesentupidora.com.br/Desentupidora-na-agua-Rasa.html 
Redirect 301 /desentupidora-na-avenida-paulista https://raiodesentupidora.com.br/desentupidora-na-avenida-paulista.html 
Redirect 301 /desentupidora-na-barra-Funda https://raiodesentupidora.com.br/desentupidora-na-barra-Funda.html 
Redirect 301 /desentupidora-na-bela-vista https://raiodesentupidora.com.br/desentupidora-na-bela-vista.html 
Redirect 301 /desentupidora-na-casa-verde https://raiodesentupidora.com.br/desentupidora-na-casa-verde.html 
Redirect 301 /desentupidora-na-cidade-ademar https://raiodesentupidora.com.br/desentupidora-na-cidade-ademar.html 
Redirect 301 /Desentupidora-na-cidade-Líder https://raiodesentupidora.com.br/Desentupidora-na-cidade-Líder.html 
Redirect 301 /desentupidora-na-consolaçao https://raiodesentupidora.com.br/desentupidora-na-consolaçao.html 
Redirect 301 /desentupidora-na-Freguesia-do-Ó https://raiodesentupidora.com.br/desentupidora-na-Freguesia-do-Ó.html 
Redirect 301 /desentupidora-na-grande-abc https://raiodesentupidora.com.br/desentupidora-na-grande-abc.html 
Redirect 301 /desentupidora-na-grande-sp https://raiodesentupidora.com.br/desentupidora-na-grande-sp.html 
Redirect 301 /desentupidora-na-granja-julieta https://raiodesentupidora.com.br/desentupidora-na-granja-julieta.html 
Redirect 301 /desentupidora-na-granja-viana https://raiodesentupidora.com.br/desentupidora-na-granja-viana.html 
Redirect 301 /desentupidora-na-lapa https://raiodesentupidora.com.br/desentupidora-na-lapa.html 
Redirect 301 /desentupidora-na-liberdade https://raiodesentupidora.com.br/desentupidora-na-liberdade.html 
Redirect 301 /Desentupidora-na-mooca https://raiodesentupidora.com.br/Desentupidora-na-mooca.html 
Redirect 301 /Desentupidora-na-penha https://raiodesentupidora.com.br/Desentupidora-na-penha.html 
Redirect 301 /desentupidora-na-pompeia https://raiodesentupidora.com.br/desentupidora-na-pompeia.html 
Redirect 301 /Desentupidora-na-ponte-Rasa https://raiodesentupidora.com.br/Desentupidora-na-ponte-Rasa.html 
Redirect 301 /desentupidora-na-saude https://raiodesentupidora.com.br/desentupidora-na-saude.html 
Redirect 301 /desentupidora-na-vila-andrade https://raiodesentupidora.com.br/desentupidora-na-vila-andrade.html 
Redirect 301 /Desentupidora-na-vila-carrão https://raiodesentupidora.com.br/Desentupidora-na-vila-carrão.html 
Redirect 301 /Desentupidora-na-vila-Formosa https://raiodesentupidora.com.br/Desentupidora-na-vila-Formosa.html 
Redirect 301 /desentupidora-na-vila-guilherme https://raiodesentupidora.com.br/desentupidora-na-vila-guilherme.html 
Redirect 301 /desentupidora-na-vila-leopoldina https://raiodesentupidora.com.br/desentupidora-na-vila-leopoldina.html 
Redirect 301 /desentupidora-na-vila-madalena https://raiodesentupidora.com.br/desentupidora-na-vila-madalena.html 
Redirect 301 /desentupidora-na-vila-maria https://raiodesentupidora.com.br/desentupidora-na-vila-maria.html 
Redirect 301 /desentupidora-na-vila-mariana https://raiodesentupidora.com.br/desentupidora-na-vila-mariana.html 
Redirect 301 /Desentupidora-na-vila-matilde https://raiodesentupidora.com.br/Desentupidora-na-vila-matilde.html 
Redirect 301 /desentupidora-na-vila-medeiros https://raiodesentupidora.com.br/desentupidora-na-vila-medeiros.html 
Redirect 301 /desentupidora-na-vila-Olímpia https://raiodesentupidora.com.br/desentupidora-na-vila-Olímpia.html 
Redirect 301 /Desentupidora-na-vila-prudente https://raiodesentupidora.com.br/Desentupidora-na-vila-prudente.html 
Redirect 301 /Desentupidora-na-zona-Leste https://raiodesentupidora.com.br/Desentupidora-na-zona-Leste.html 
Redirect 301 /desentupidora-na-zona-Norte-sp https://raiodesentupidora.com.br/desentupidora-na-zona-Norte-sp.html 
Redirect 301 /desentupidora-na-zona-Norte https://raiodesentupidora.com.br/desentupidora-na-zona-Norte.html 
Redirect 301 /desentupidora-na-zona-Oeste-sp https://raiodesentupidora.com.br/desentupidora-na-zona-Oeste-sp.html 
Redirect 301 /desentupidora-na-zona-Oeste https://raiodesentupidora.com.br/desentupidora-na-zona-Oeste.html 
Redirect 301 /desentupidora-na-zona-sul-sp https://raiodesentupidora.com.br/desentupidora-na-zona-sul-sp.html 
Redirect 301 /desentupidora-na-zona-sul https://raiodesentupidora.com.br/desentupidora-na-zona-sul.html 
Redirect 301 /desentupidora-no-abc https://raiodesentupidora.com.br/desentupidora-no-abc.html 
Redirect 301 /desentupidora-no-alto-de-pinheiros https://raiodesentupidora.com.br/desentupidora-no-alto-de-pinheiros.html 
Redirect 301 /Desentupidora-no-belenzinho https://raiodesentupidora.com.br/Desentupidora-no-belenzinho.html 
Redirect 301 /desentupidora-no-bairro-do-limao https://raiodesentupidora.com.br/desentupidora-no-bairro-do-limao.html 
Redirect 301 /desentupidora-no-bom-retiro https://raiodesentupidora.com.br/desentupidora-no-bom-retiro.html 
Redirect 301 /desentupidora-no-brooklin-sp https://raiodesentupidora.com.br/desentupidora-no-brooklin-sp.html 
Redirect 301 /desentupidora-no-butanta https://raiodesentupidora.com.br/desentupidora-no-butanta.html 
Redirect 301 /desentupidora-no-cambuci https://raiodesentupidora.com.br/desentupidora-no-cambuci.html 
Redirect 301 /desentupidora-no-campo-belo-sp https://raiodesentupidora.com.br/desentupidora-no-campo-belo-sp.html 
Redirect 301 /desentupidora-no-campo-limpo https://raiodesentupidora.com.br/desentupidora-no-campo-limpo.html 
Redirect 301 /desentupidora-no-centro-de-sp https://raiodesentupidora.com.br/desentupidora-no-centro-de-sp.html 
Redirect 301 /desentupidora-no-cursino https://raiodesentupidora.com.br/desentupidora-no-cursino.html 
Redirect 301 /desentupidora-no-guaruja https://raiodesentupidora.com.br/desentupidora-no-guaruja.html 
Redirect 301 /desentupidora-no-interior-sp https://raiodesentupidora.com.br/desentupidora-no-interior-sp.html 
Redirect 301 /desentupidora-no-ipiranga https://raiodesentupidora.com.br/desentupidora-no-ipiranga.html 
Redirect 301 /desentupidora-no-itaim-bibi https://raiodesentupidora.com.br/desentupidora-no-itaim-bibi.html 
Redirect 301 /Desentupidora-no-itaim-paulista https://raiodesentupidora.com.br/Desentupidora-no-itaim-paulista.html 
Redirect 301 /desentupidora-no-jabaquara https://raiodesentupidora.com.br/desentupidora-no-jabaquara.html 
Redirect 301 /desentupidora-no-jaguare https://raiodesentupidora.com.br/desentupidora-no-jaguare.html 
Redirect 301 /desentupidora-no-jardim-europa https://raiodesentupidora.com.br/desentupidora-no-jardim-europa.html 
Redirect 301 /desentupidora-no-jardim-paulista https://raiodesentupidora.com.br/desentupidora-no-jardim-paulista.html 
Redirect 301 /desentupidora-no-jaçana https://raiodesentupidora.com.br/desentupidora-no-jaçana.html 
Redirect 301 /desentupidora-no-litoral https://raiodesentupidora.com.br/desentupidora-no-litoral.html 
Redirect 301 /desentupidora-no-mandaqui https://raiodesentupidora.com.br/desentupidora-no-mandaqui.html 
Redirect 301 /desentupidora-no-morumbi https://raiodesentupidora.com.br/desentupidora-no-morumbi.html 
Redirect 301 /desentupidora-no-pari https://raiodesentupidora.com.br/desentupidora-no-pari.html 
Redirect 301 /desentupidora-no-rio-pequeno https://raiodesentupidora.com.br/desentupidora-no-rio-pequeno.html 
Redirect 301 /Desentupidora-no-sapopemba https://raiodesentupidora.com.br/Desentupidora-no-sapopemba.html 
Redirect 301 /desentupidora-no-tremembe https://raiodesentupidora.com.br/desentupidora-no-tremembe.html 
Redirect 301 /Desentupidora-no-tatuape https://raiodesentupidora.com.br/Desentupidora-no-tatuape.html 
Redirect 301 /desentupidora-no-tucuruvi https://raiodesentupidora.com.br/desentupidora-no-tucuruvi.html 
Redirect 301 /desentupidora-parque-Novo-mundo https://raiodesentupidora.com.br/desentupidora-parque-Novo-mundo.html 
Redirect 301 /desentupidora-parque-sao-domingos https://raiodesentupidora.com.br/desentupidora-parque-sao-domingos.html 
Redirect 301 /desentupidora-sp https://raiodesentupidora.com.br/desentupidora-sp.html 
Redirect 301 /desentupidora-vila-Nova-cachoeirinha https://raiodesentupidora.com.br/desentupidora-vila-Nova-cachoeirinha.html 
Redirect 301 /desentupimento https://raiodesentupidora.com.br/desentupimento.html 
Redirect 301 /desintupidora https://raiodesentupidora.com.br/desintupidora.html 
Redirect 301 /empresa-desentupidora https://raiodesentupidora.com.br/empresa-desentupidora.html 
Redirect 301 /serviços-de-desentupimentos https://raiodesentupidora.com.br/serviços-de-desentupimentos.html 

Redirect 301 /limpa-fossa-guarulhos https://raiodesentupidora.com.br
Redirect 301 /desentupidora-de-esgoto-no-tucuruvi https://raiodesentupidora.com.br
Redirect 301 /desentupidora-de-esgoto-na-zona-oeste https://raiodesentupidora.com.br
Redirect 301 /desentupidora-de-esgoto-na-zona-leste https://raiodesentupidora.com.br
Redirect 301 /desentupidora-de-esgoto-na-zona-norte https://raiodesentupidora.com.br
Redirect 301 /desentupidora-de-esgoto-na-zona-sul https://raiodesentupidora.com.br
Redirect 301 /desentupidora-de-esgoto-sp https://raiodesentupidora.com.br
Redirect 301 /desentupidora-de-esgoto-no-tucuruvi https://raiodesentupidora.com.br
Redirect 301 /limpa-fossa-24-horas https://raiodesentupidora.com.br
Redirect 301 /empresa-de-limpa-fossa https://raiodesentupidora.com.br
Redirect 301 /desentupidora-de-esgoto-no-tucuruvi https://raiodesentupidora.com.br

Redirect 301 /desentupimento-de-esgoto-na-zona-leste https://raiodesentupidora.com.br
Redirect 301 /desentupimento-de-esgoto-na-zona-sul https://raiodesentupidora.com.br
Redirect 301 /desentupimento-de-esgoto-na-zona-norte https://raiodesentupidora.com.br
Redirect 301 /desentupimento-de-esgoto-na-zona-oeste https://raiodesentupidora.com.br

Redirect 301 /desentupidora-guarulhos-bosque-maia https://raiodesentupidora.com.br/desentupidora-guarulhos-bosque-maia.html 
Redirect 301 /desentupidora-guarulhos-cabucu https://raiodesentupidora.com.br/desentupidora-guarulhos-cabucu.html 
Redirect 301 /desentupidora-guarulhos-cumbica https://raiodesentupidora.com.br/desentupidora-guarulhos-cumbica.html 
Redirect 301 /desentupidora-guarulhos-dutra https://raiodesentupidora.com.br/desentupidora-guarulhos-dutra.html 
Redirect 301 /desentupidora-guarulhos-jardim-do-papai https://raiodesentupidora.com.br/desentupidora-guarulhos-jardim-do-papai.html 
Redirect 301 /desentupidora-guarulhos-palmira https://raiodesentupidora.com.br/desentupidora-guarulhos-palmira.html 
Redirect 301 /desentupidora-guarulhos-parque-continental https://raiodesentupidora.com.br/desentupidora-guarulhos-parque-continental.html 
Redirect 301 /desentupidora-guarulhos-pimentas https://raiodesentupidora.com.br/desentupidora-guarulhos-pimentas.html 
Redirect 301 /desentupidora-guarulhos-vila-galvao https://raiodesentupidora.com.br/desentupidora-guarulhos-vila-galvao.html 
Redirect 301 /desentupidora-guarulhos-jardim-sao-paulo https://raiodesentupidora.com.br/desentupidora-guarulhos-jardim-sao-paulo.html 
Redirect 301 /desentupidora-guarulhos-lago-dos-patos https://raiodesentupidora.com.br/desentupidora-guarulhos-lago-dos-patos.html 
Redirect 301 /desentupidora-em-bomsucesso-guarulhos https://www.raiodesentupidora.com.br/desentupidora-em-bomsucesso-guarulhos.html

<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml

  # Remove browser bugs (only needed for really old browsers)
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent

<IfModule mod_gzip.c>
  mod_gzip_on Yes
  mod_gzip_dechunk Yes
  mod_gzip_item_include file .(html?|txt|css|js|php|pl|woff|woff2)$
  mod_gzip_item_include handler ^cgi-script$
  mod_gzip_item_include mime ^text/.*
  mod_gzip_item_include mime ^application/x-javascript.*
  mod_gzip_item_exclude mime ^image/.*
  mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</IfModule>
  
</IfModule>

<ifModule mod_headers.c>
    Header set Connection keep-alive
</ifModule>

<IfModule mod_expires.c>
  ExpiresActive On

  # Images
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"

  # Video
  ExpiresByType video/webm "access plus 1 year"
  ExpiresByType video/mp4 "access plus 1 year"
  ExpiresByType video/mpeg "access plus 1 year"

  # Fonts
  ExpiresByType font/ttf "access plus 1 year"
  ExpiresByType font/otf "access plus 1 year"
  ExpiresByType font/woff "access plus 1 year"
  ExpiresByType font/woff2 "access plus 1 year"
  ExpiresByType application/font-woff "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"

  # Others
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType image/vnd.microsoft.icon "access plus 1 year"
</IfModule>

<FilesMatch "\.(?i:gif|jpe?g|png|ico|css|js|swf|woff2|woff)$">

  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=172800, public, must-revalidate"
  </IfModule>

</FilesMatch>